{% extends 'website/_base.html' %}
{% load static %}


{% block content %}


{% comment %} About Page Banner {% endcomment %}
<section class="py-5 container" >
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-0">
        <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block mt-0">
            <img src="{% static 'website/Me.png' %}" title="Me" class="d-block mx-lg-auto img-fluid" alt="Me" width="700" height="500">
          </div>
        <div class="col-lg-6 col-md-8 me-auto">
            <p class="display-1 fw-bold">about</p>
            <p class="lead text-body-secondary">
                I do hold in my possession a Bachelor's degree in the arcane arts of Computer Information Systems. 
                With a sturdy base in the realm of technology, I doth set forth upon a grand expedition, venturing into the thrilling domain of the tech industry.
            </p>
        </div>
    </div>
</section>

{% comment %} <div class="container col-xxl-8 px-4 pt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-0">
      <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block mt-0">
        <img src="{% static 'website/Me.png' %}" title="Me" class="d-block mx-lg-auto img-fluid" alt="Me" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-1 fw-bold text-body-emphasis lh-1 mb-3">about</h1>
        <p class="lead text-body-secondary">
            I do hold in my possession a Bachelor's degree in the arcane arts of Computer Information Systems. 
            With a sturdy base in the realm of technology, I doth set forth upon a grand expedition, venturing into the thrilling domain of the tech industry.
        </p>
        
      </div>
    </div>
</div> {% endcomment %}


{% comment  %} Education Div {% endcomment %}
<div class="bg-body-tertiary">
    <div class="container px-4 py-5">
        <h2 class="pb-2 mb-4 border-bottom">Education</h2>
    
        <div class="">

            <div class="d-flex align-items-start mx-3 mb-2">
                <div>
                    <div class="mb-1">
                        <h3 class="d-inline mb-0 fs-4">Bachelor of Computer Information Systems </h3>
                        <p class="d-inline fw-light ps-0">Sep. 2020 - Sep. 2022</p>                     
                    </div>
                    <p class="fw-lighter fs-5 mb-1">University of The Fraser Valley</p>
                    <div class="mb-1">
                        <p class="d-inline fw-normal fs-6"><u>GPA:</u> </p>
                        <p class="d-inline fw-light fs-6">4.08/4.33</p>    
                    </div>
                    <div class="mb-1">
                        <p class="d-inline fw-normal fs-6"><u>Honors:</u> </p>
                        <p class="d-inline fw-light fs-6">Multiple Dean's Lists and International Student Excellence Scholarship</p>    
                    </div>
                    <div class="mb-1">
                        <p class="d-inline fw-normal fs-6"><u>Relevant Coursework:</u> </p>
                        <p class="d-inline fw-light fs-6">
                            Introduction to AI, Introduction to Robotics, Operating Systems, 
                            Project Management, Natural Language Processing, Data Structures and Algorithms, 
                            Data Quality, Professional Communications, User Interface Design and Programming.
                        </p>    
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-start mx-3 mb-2 mt-5">
                <div>
                    <div class="mb-1">
                        <h3 class="d-inline mb-0 fs-4">Bachelor of Science Information Technology</h3>
                        <p class="d-inline fw-light ps-0">Jul. 2018 - Sep. 2020 (Transferred)</p>                     
                    </div>
                    <p class="fw-lighter fs-5 mb-1">Vidyalankar School of Information Technology (Mumbai University)</p>
                    <div class="mb-1">
                        <p class="d-inline fw-normal fs-6"><u>SGPI (avg.):</u> </p>
                        <p class="d-inline fw-light fs-6">9.73/10.00</p>    
                    </div>
                    <div class="mb-1">
                        <p class="d-inline fw-normal fs-6"><u>Relevant Coursework:</u> </p>
                        <p class="d-inline fw-light fs-6">
                            Introduction to Machine Architecture, Introduction to Programming, Introduction to Networking, 
                            Object-Oriented Programming, Databases and Database Management Systems, Software Engineering, 
                            Computer Graphics and Animation, Discrete Mathematics, Applied Mathematics.
                        </p>    
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
</div>


{% comment  %} Skills Div {% endcomment %}
<div class="">
    <div class="container px-4 pt-5">
        <h2 class="pb-2 border-bottom">Skills</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">

            {% comment %} For loop for the skills section {% endcomment %}
            {% for skill in skills %}
                <div class="col d-flex align-items-start">
                    <img class="bi text-body-secondary flex-shrink-0 me-3" src="{{ skill.icon.url }}"></img>
                    <div>
                        <h3 class="mb-0 fs-5">{{ skill.skill_title }}</h3>
                        <p class="fw-light">{{ skill.skill_description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>


{% comment  %} Favourite Quotes Div {% endcomment %}
<div class="bg-body-tertiary">
    <div class="container px-4 py-5">
        <h2 class="pb-2 mb-4 border-bottom">Favourite Quotes</h2>
    
        <div class="">

            <div class="d-flex align-items-start mx-3 mb-2">
                <blockquote class="blockquote">
                    <p class="fs-5 fw-normal">When they say 2% milk, I don't know what the other 98% is.</p>
                    <footer class="ms-3 blockquote-footer">Andy Dwyer (Parks and Recreation)</footer>
                </blockquote>
            </div>
            
            <div class="d-flex align-items-start mx-3 mb-2">
                <blockquote class="blockquote">
                    <p class="fs-5">Abraham Lincoln once said that, &quot;If you&#39re a racist, I will attack you with the North.&quot; And those are the principles that I carry with me in the workplace.</p>
                    <footer class="ms-3 blockquote-footer">Michael Scott (The Office)</footer>
                </blockquote>
            </div>
            
            <div class="d-flex align-items-start mx-3 mb-2">
                <blockquote class="blockquote">
                    <p class="fs-5">I&#39m not superstitious but I am a little stitious.</p>
                    <footer class="ms-3 blockquote-footer">Michael Scott (The Office)</footer>
                </blockquote>
            </div>
            
            <div class="d-flex align-items-start mx-3 mb-2">
                <blockquote class="blockquote">
                    <p class="fs-5">Is Star Wars the one with the little wizard boy?</p>
                    <footer class="ms-3 blockquote-footer">Ron Swanson (Parks and Recreation)</footer>
                </blockquote>
            </div>
            
            <div class="d-flex align-items-start mx-3 mb-2">
                <blockquote class="blockquote">
                    <p class="fs-5">Just leave me alone, I know what I'm doing.</p>
                    <footer class="ms-3 blockquote-footer">Kimi Raikkonen (Abu Dhabi GP 2012)</footer>
                </blockquote>
            </div>
               
        </div>
    </div>
</div>


{% endblock content %}