{% extends 'website/_base.html' %}
{% load static %}


{% block content %}


<style>
    .card:hover
    {
        transform: scale(1.03);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    }
</style>

{% comment  %} Index Page Banner {% endcomment %}
<section class="py-5 container pb-lg-0">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-0">
        <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block mt-0">
            <img src="{% static 'website/Me Upside Down.png' %}" title="Upside Down Me" class="d-block mx-lg-auto img-fluid" alt="Me" width="700" height="500">
          </div>
        <div class="col-lg-6 col-md-8 me-auto">
            <p class="display-1 fw-bold ">Hail! I am Yogi.</p> {% comment "Add it to classes if you do not like current" %} text-body-emphasis lh-1 mb-3 {% endcomment %}
            <p class="lead text-body-secondary">
                Hark, dear visitor! As thou dost peruse these digital pages, lend thine ear to the text herein, for it bears a Shakespearean charm.
                Allow the Bard's language to whisk thee on a journey of discovery and wonder. Read on, be enchanted! 
            </p>
        </div>
    </div>
</section>



{% comment %} <div class="container col-xxl-8 px-4 pt-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-0">
        <div class="col-10 col-sm-8 col-lg-6 d-none d-lg-block mt-0">
            <img src="{% static 'website/Me Upside Down.png' %}" title="Upside Down Me" class="d-block mx-lg-auto img-fluid" alt="Upside Down Me" width="700" height="500"> 
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hail! I am Yogi.</h1>
            <p class="lead text-body-secondary">
                Hark, dear visitor! As thou dost peruse these digital pages, lend thine ear to the text herein, for it bears a Shakespearean charm.
                Allow the Bard's language to whisk thee on a journey of discovery and wonder. Read on, be enchanted! 
            </p>
        </div>
    </div>
</div> {% endcomment %}
  
{% comment  %} Latest Works {% endcomment %}
<div class="py-5 bg-body-tertiary">
    <div class="container">
        <div class="text-center  pb-1 mb-3">
            <em class = "text-muted">MY LATEST WORK</em>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">

            {% comment %} For loop for the three cards on the page {% endcomment %}
            {% for project in projects %}
                <a class = "link-underline link-underline-opacity-0"  href="{% url 'project' project.slug %}" > 
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="card-img-top" width="100%" height="225" preserveAspectRatio="xMidYMid slice" focusable="true">
                                <image x="0" y="0.5rem" width="100%" height="100%" href="{{ project.thumbnail.image.url }}" /> 
                                {% comment %} 
                                It is project.thumbnail.image.url because project.thumbnail is an Image object.
                                You need to then access the image field of project.thumbnail using project.thumbnail.image
                                project.thumbnail.image has url attribute that gives the URL for the image
                                {% endcomment %}
                            </svg>
                            <div class="card-body">
                                <h4 class="card-title fw-bold">{{ project.title }}</h4> 
                                <p class="card-text">
                                    {{ project.short_description }}
                                    
                                </p> 
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary">{{ project.software_type }}</small> 
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            
        </div>
    </div>
</div>


{% endblock content %}
