{% extends 'website/_base.html' %}


{% block content %}


<style>
    #display_image:hover
    {
        transform: scale(1.03);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); 
    }
</style>

{% comment %} Project Information Banner {% endcomment %}
<section class="pt-5 container" >
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 me-auto">
            <p class="display-1 fw-bold">{{ project.project_title }}</p>
            
            <p class="fw-light ms-1 ps-0">{{ project.start_date }} - {{ project.end_date }}</p>

            <h5 class="ms-1 ps-0 mt-3 pt-3">Technologies Used</h5>
            <p class="fw-light ms-1 ps-0">{{ project.technologies_used }}</p>
            
            {% if project.lines_of_code != 0 %}
                <h5 class="ms-1 ps-0 mt-3 pt-3">Lines of Code</h5>
                <p class="fw-light ms-1 ps-0">{{ project.lines_of_code }}</p>
            {% endif %}
            
            <h5 class="ms-1 ps-0 mt-3 pt-3">Description</h5>
            <p class="fw-light ms-1 ps-0">
                {{ project.long_description }}
            </p>
            
            {% if project.code_url or project.deployment_url %}
                <h5 class="ms-1 ps-0 mt-3 pt-3">URLs</h5>
                <p class="text-muted ms-1 ps-0">
                    {% if project.code_url %}
                        <p class="ms-1 ps-0 mb-1">
                            <span class="fw-light">Code (GitHub): </span><a href="{{ project.code_url }}" target="_blank">{{ project.code_url }}</a><br>
                        </p>
                    {% endif %}                    
                    {% if project.deployment_url %}
                        <p class="ms-1 ps-0 mb-1">
                            <span class="fw-light">Deployment: </span><a href="{{ project.deployment_url }}" target="_blank">{{ project.deployment_url }}</a><br>
                        </p>
                    {% endif %}                    
                </p>
            {% endif %}

        </div>
    </div>
</section>


    
{% comment %} Project Images Section {% endcomment %}
<div class="py-5 bg-body-tertiary">
    <div class="container">            
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-2"> 
                
            {% for image in images %}                    
                    <div class="container px-5 col" id="display_image">
                        <figure style="text-align: center;">
                            <a href="{{ image.image.url }}" target = "_blank">
                                <img src="{{ image.image.url }}" title="{{ image.image_title }}" class="img-fluid border rounded-3 mb-1" alt="" width="700" height="500">
                            </a>
                            <figcaption class = "mb-4 text-body-secondary">{{ image.image_title }}</figcaption>
                        </figure>
                    </div>                  
            {% endfor %}           
                          
        </div>
    </div>
</div>


{% endblock content %}